/*header {
    background-color: #2963d8; */


.headerTop {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 5px 0px;
}

.informacion {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    width: 50%;
}

.informacion > img {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

.informacion > a {
    font-size: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
}

.redesSociales {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    width: 50%;
}

.redesSociales > a > img {
    margin: 0px 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.redesSociales > img:hover {
    transform: scale(1.2);
}

.headerBot {
    background-color: #31022f;
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-weight: bold;
}
.logo{
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #2963d8; */
}

.logoImg {
    width: 50px;
    margin-top: -5px;
}

.NombreLogo {
    font-size: 15px;
    margin-top: 0px;
    
    
}

nav {
    position: relative;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    outline: none;
}

.nav-links {
    list-style-type: none;
    padding-right: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links li {
    display: flex;
    text-transform: uppercase;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    border-radius: 4px;
    font-size: 12px;
}

.nav-links a:hover {
    color: rgb(116, 105, 105);
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
}

.search-bar button {
    background-color: #2963d8;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.user-menu {
    position: relative;
    display: flex;
    align-items: center;
   
    
}
#colorIniciosesion{
    position: relative;
    display: flex;
    align-items: center;
    /* background-color: orange; */
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    
}

.user-info {
    display: flex;
    align-items: center;
    /* background-color: orange; */
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
    background-color: #fff;
    border: 2px solid #fff;
    transition: border-color 0.3s ease;
}

.user-avatar:hover {
    border-color: #61dafb;
}

.user-menu-options {
    display: none;
    position: absolute;
    top: 49px; /* Ajusta esto si es necesario para posicionar correctamente el menú */
    right: 0;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px;
    margin-right: -20px;
    z-index: 1000;

}

.user-menu-options li {
    margin: 0;
    padding: 5px 0px;
}
.user-name{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.user-menu-options a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
#logout-button{
    background: none;
    border: none;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transform: none;
    /* background-color: orange; */
    padding: 0px;
}

.user-menu-options a:hover, .user-menu-options #logout-button:hover {
   color: #2963d8;
}

.user-menu .user-menu-options {
    display: flex;
    flex-direction: column;
    background-color: #282c34;
    justify-content: center;
    align-items: start;
    width: 150px;
    
}




@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 42px;
        right: 0px;
        background-color: #2963d8;
        margin-right: -20px;
        width: 200px;
        height: 150px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links a {
        padding: 15px;
        text-align: center;
    }
}
